#container {
    text-align: center;
}

#container strong {
    font-size: 1em;
    font-weight: bold;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}

.ingredient-card {
    max-width: 200px;
}

.ingredient-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

// we need this to make a cool hover effect on the card
.ingredient-card {
    max-width: 200px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05) rotate(2deg);
    }
}
