<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Main Menu (Haha, get it?) </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Main Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-global-menu></app-global-menu>

    <div id="container">
        <div class="hero-image">
            <img src="assets/kirby-eating.gif" alt="Kirby Eating" />
        </div>
        <div class="hero-text">
            <strong>Are you ready to consume large portions of food?</strong>
            <p>Input your ingredients below and start searching for recipes!</p>
        </div>
        <form id="recipe-search-form" (ngSubmit)="searchRecipes()">
            <ion-searchbar
                class="searchbar-home"
                placeholder="Example: chicken, pasta, tomato sauce"
                [(ngModel)]="ingredientSearch"
                name="search"
            ></ion-searchbar>
            <ion-button type="submit">Search Recipes</ion-button>
        </form>
    </div>
</ion-content>
